{% extends "base.html" %}

{% block content %}

<Div class="card">

    <h2>✏️Edit Product</h2>

    <p>Update the product details and save your changes.</p>

    <form method="POST">

    <div class="form-row">

        <div class="form-group">

            <label>Product Name</label>

            <input
                type="text"
                name="product_name"
                value="{{ product['name'] }}"
                required>

        </div>

        <div class="form-group">    

            <label>Brand</label>

            <input
                type="text"
                id="brand"
                name="brand"
                value="{{ product['brand'] or '' }}"
                required>
        </div>

        <div class="form-group">

            <label>Category</label>

            <select name="category" required>

                <option value="Electronics" {% if product["category"] == "Electronics" %}selected{% endif %}>Electronics</option>

                <option value="Groceries" {% if product["category"] == "Groceries" %}selected{% endif %}>Groceries</option>

                <option value="Cosmetics" {% if product["category"] == "Cosmetics" %}selected{% endif %}>Cosmetics</option>

                <option value="Beverages" {% if product["category"] == "Beverages" %}selected{% endif %}>Beverages</option>

                <option value="Stationery" {% if product["category"] == "Stationery" %}selected{% endif %}>Stationery</option>

                <option value="Clothing" {% if product["category"] == "Clothing" %}selected{% endif %}>Clothing</option>

                <option value="Furniture" {% if product["category"] == "Furniture" %}selected{% endif %}>Furniture</option>

                <option value="Others" {% if product["category"] == "Others" %}selected{% endif %}>Others</option>

            </select>

        </div>

    </div>

    <div class="form-group">

        <label>Description</label>

        <textarea
            name="description"
            rows="3">{{ product["description"] }}</textarea>

    </div>

    <div class="form-row">

        <div class="form-group">

            <label>Price</label>

            <input
                type="number"
                step="0.01"
                name="price"
                value="{{ product['price'] }}"
                required>

        </div>

        <div class="form-group">

            <label>Quantity</label>

            <input
                type="number"
                name="quantity"
                value="{{ product['quantity'] }}"
                required>

        </div>

    </div>

    <div class="form-row">

        <div class="form-group">

            <label>Unit</label>

            <select name="unit">

                <option value="Pieces" {% if product["unit"] == "Pieces" %}selected{% endif %}>Pieces</option>

                <option value="Pack" {% if product["unit"] == "Pack" %}selected{% endif %}>Pack</option>

                <option value="Bottle" {% if product["unit"] == "Bottle" %}selected{% endif %}>Bottle</option>

                <option value="Carton" {% if product["unit"] == "Carton" %}selected{% endif %}>Carton</option>

                <option value="Bag" {% if product["unit"] == "Bag" %}selected{% endif %}>Bag</option>

                <option value="Box" {% if product["unit"] == "Box" %}selected{% endif %}>Box</option>

            </select>

        </div>

        <div class="form-group">

            <label>Reorder Level</label>

            <input
                type="number"
                name="reorder_level"
                value="{{ product['reorder_level'] }}"
                min="1">

        </div>

    </div>

    <div class="form-group">

        <label>Supplier</label>

        <select name="supplier_id" required>

            {% for supplier in suppliers %}

                <option
                    value="{{ supplier['id'] }}"
                    {% if supplier['id'] == product['supplier_id'] %}selected{% endif %}>

                    {{ supplier['supplier_name'] }}

                </option>

            {% endfor %}

        </select>

    </div>

    <div class="form-actions">

        <button type="submit" class="btn">

            <i class="fa-solid fa-floppy-disk"></i>

            Update Product

        </button>

        <a href="{{ url_for('products') }}" class="btn btn-secondary">

            Cancel

        </a>

    </div>

</form>
</Div>

{% endblock %}